<div *ngIf="state$ | async as state" class="container">   
    <p-fieldset legend="Componente 2">
        <table>
            <tr>
                <th>Code</th>
                <th>Name</th>
            </tr>
            <tr *ngFor="let book of state.bookList">
                <td>{{book.code}}</td>
                <td>{{book.name}}</td>
            </tr>
        </table>
        <button
            pButton
            pRipple
            type="button"
            label="Remove"
            [disabled]="state.busy"
            (click)="onRemove(state.bookList.length -1)"
            class="p-button-danger button"
            pTooltip="{{state.bookList.length}} restantes"
          ></button>
    </p-fieldset>
</div>
